body{
    font-family: "poppins", sans-serif;
    background-image: linear-gradient(to bottom, #002d81 10%, #312d54 100%);
    background-position: no-repeat;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    text-shadow: #86a9c7
}

header {
    height: 80px;
    background: linear-gradient(to right, #565caa, #283748);
    margin-bottom: 38px;
    border-radius: 1cap;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.navbar .nav-logo .Logo-text {
    color: #fff;
    margin-top: 11px;
    font-size: 40px;
}

.navbar .nav-profil .Logo-text {
  margin-top: auto;
    color: #fff;
}

.navbar .nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar .nav-menu .nav-item .nav-link{
    color: #ffffff;
    padding: 8px 16px;
    margin-top: auto;
    border-radius: 20px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: #1a64be;
    background-color: #fff;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #fff;
    width: 500px;
    height: 600px;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #69ace7;
    box-shadow: 1px 2px 15px rgba rgb(73, 34, 34);
}

.form .title{
    display: flex;
    justify-content: center;
    color: #003a81;
}

.form .form-input{
    margin: 0 60px 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input label {
  
  font-size: 13px;
  color: #003a81;
  margin-bottom: 6px;
}

.form-input input {
  width: 100%;
  height: 38px;
  padding: 0 19px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #003a81;
  color: #ffffff;
  font-size: 13px;
  line-height: 38px; 
}

::placeholder {
    color: #fff;
}

#submit-btn {
display: block;
  margin: 20px auto 0;
  width: 120px;
  height: 36px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #0b2f78, #3f86db);
  color: white;
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    gap: 15px;
    height: auto;
  }

  .navbar .nav-menu {
    flex-direction: column;
    gap: 10px;
  }

  .navbar .nav-menu .nav-link {
    width: auto;
    padding: 10px 20px;
    text-align: center;
  }

  .nav-logo,
  .nav-profil {
    text-align: center;
  }

}
